@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #e8eff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-dark {
  color: #333;
}

.wrapper {
  padding: 3rem .8rem .2rem .8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: .8rem;
  grid-auto-rows: minmax(60px, auto);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.wrapper .btn {
  width: 60px;
  height: 60px;
  border-radius: .7rem;
  outline: none;
  line-height: 60px;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .equals {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  width: 100%;
}

.wrapper .btn:active {
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.wrapper .screen {
  width: 100%;
  max-width: 280px;
  border-radius: .7rem;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  grid-column: span 4;
}

.wrapper .screen .output1 {
  font-size: .8rem;
  min-height: 16px;
}

.wrapper .screen .output2 {
  font-size: 1.2rem;
  min-height: 24px;
}

.wrapper footer {
  grid-column: span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
}

.wrapper-dark {
  color: #ccc !important;
  background: #131419;
  -webkit-box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.61), -2px -2px 6px rgba(255, 255, 255, 0.15), inset 2px 2px 8px rgba(58, 58, 58, 0.2), inset -4px -4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.61), -2px -2px 6px rgba(255, 255, 255, 0.15), inset 2px 2px 8px rgba(58, 58, 58, 0.2), inset -4px -4px 4px rgba(0, 0, 0, 0.2);
}

.wrapper-dark .btn {
  color: #ccc;
  background: #131419;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.61), -2px -2px 5px rgba(0, 0, 0, 0.15), inset 2px 2px 6px rgba(58, 58, 58, 0.2), inset -4px -4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.61), -2px -2px 5px rgba(0, 0, 0, 0.15), inset 2px 2px 6px rgba(58, 58, 58, 0.2), inset -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.wrapper-dark .btn:active {
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(0, 0, 0, 0.5), inset 2px 2px 8px rgba(12, 12, 12, 0.2), inset -4px -4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3), -2px -2px 6px rgba(0, 0, 0, 0.5), inset 2px 2px 8px rgba(12, 12, 12, 0.2), inset -4px -4px 4px rgba(0, 0, 0, 0.2);
}

.wrapper-dark .btn:hover {
  color: #008000;
}

.wrapper-dark .screen {
  background: #131419;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.61), -2px -2px 5px rgba(255, 255, 255, 0.15), inset 2px 2px 6px rgba(58, 58, 58, 0.2), inset -4px -4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.61), -2px -2px 5px rgba(255, 255, 255, 0.15), inset 2px 2px 6px rgba(58, 58, 58, 0.2), inset -4px -4px 8px rgba(0, 0, 0, 0.2);
}

.wrapper-dark footer {
  color: #535353;
}

.wrapper-light {
  color: #333;
  background: #e8eff5;
  -webkit-box-shadow: 3px 3px 7px #bbcfda, -2px -2px 6px #ffffff, inset 2px 2px 8px rgba(209, 217, 230, 0.2), inset -4px -4px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 7px #bbcfda, -2px -2px 6px #ffffff, inset 2px 2px 8px rgba(209, 217, 230, 0.2), inset -4px -4px 4px rgba(255, 255, 255, 0.2);
}

.wrapper-light .btn {
  background: #e8eff5;
  -webkit-box-shadow: 3px 3px 7px #bbcfda, -2px -2px 6px #ffffff, inset 2px 2px 4px rgba(209, 217, 230, 0.2), inset -4px -4px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 7px #bbcfda, -2px -2px 6px #ffffff, inset 2px 2px 4px rgba(209, 217, 230, 0.2), inset -4px -4px 4px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.wrapper-light .btn:active {
  -webkit-box-shadow: 2px 1px 9px #bbcfda, -2px -2px 6px #ffffff, inset 3px 3px 8px rgba(209, 217, 230, 0.8), inset -4px -4px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 2px 1px 9px #bbcfda, -2px -2px 6px #ffffff, inset 3px 3px 8px rgba(209, 217, 230, 0.8), inset -4px -4px 4px rgba(255, 255, 255, 0.2);
}

.wrapper-light .btn:hover {
  color: green;
}

.wrapper-light .screen {
  background: #e8eff5;
  -webkit-box-shadow: 3px 3px 7px #bbcfda, -2px -2px 6px #ffffff, inset 2px 2px 8px rgba(209, 217, 230, 0.2), inset -4px -4px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 3px 3px 7px #bbcfda, -2px -2px 6px #ffffff, inset 2px 2px 8px rgba(209, 217, 230, 0.2), inset -4px -4px 4px rgba(255, 255, 255, 0.2);
}

.wrapper-light footer {
  color: #535353;
}
/*# sourceMappingURL=main.css.map */